/* general style */

#bootstrap-overrides .btn-skin {
  color: #111;
  background-color: #fff;
  border-color: #111;
  font-weight: bold;
}
#bootstrap-overrides .btn-skin:hover {
  color: #fff;
  background-color: #e50c4f;
  border-color: #e50c4f;
}
#bootstrap-overrides #intro{
  background-color: #333;
  height: 34em;
}
/* style for typed.js */

#bootstrap-overrides #type-wrap{
  color: #333;
  font-size: 3.8em;
  text-align: center;
  /*font-family: courier;*/
}
.tags {
  font-size: .70em;
  color: #e50c4f;
}
#bootstrap-overrides #kea {
  font-size: 24px;
  margin-bottom: 10px;
}
#bootstrap-overrides #slogan {
  font-size: 12px;
  line-height: 1.4em;
  margin-bottom: 5px;
}

/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
